Repository jideoyelayo1/cpp-ml-library, pull requests merged in 2024-11, with the labels that each got.

#21 Create pr-in-progress.yml
  .github/workflows/pr-in-progress.yml
Labels: documentation

#14 Clustering
  CMakeLists.txt
  README.md
  examples/HierarchicalClusteringExample.cpp
  examples/KMeansExample.cpp
  examples/KNNClassifierExample.cpp
  examples/KNNRegressorExample.cpp
  ml_library_include/ml/clustering/HierarchicalClustering.hpp
  ml_library_include/ml/clustering/KMeans.hpp
  ml_library_include/ml/clustering/KNNClassifier.hpp
  ml_library_include/ml/clustering/KNNRegressor.hpp
  ml_library_include/ml/regression/LogisticRegression.hpp
  ml_library_include/ml/regression/MultiLinearRegression.hpp
  ml_library_include/ml/regression/PolynomialRegression.hpp
  tests/clustering/HierarchicalClusteringTest.cpp
  tests/clustering/KMeansClusteringTest.cpp
  tests/clustering/KNNClassifierTest.cpp
  tests/clustering/KNNRegressorTest.cpp
Labels: documentation, enhancement

#29 Eclat added
  CMakeLists.txt
  examples/EclatExample.cpp
  ml_library_include/ml/association/Eclat.hpp
  tests/association/EclatTest.cpp
Labels: enhancement

#33 improved MLR
  ml_library_include/ml/regression/MultiLinearRegression.hpp
Labels: enhancement

#34 Polynomial Regression improvements
  ml_library_include/ml/regression/PolynomialRegression.hpp
Labels: enhancement

#30 TEST_APRIORI
  CMakeLists.txt
  examples/AprioriExample.cpp
  ml_library_include/ml/association/Apriori.hpp
  tests/association/AprioriTest.cpp
Labels: enhancement

#32 Logistic Regression
  ml_library_include/ml/regression/LogisticRegression.hpp
Labels: enhancement

#38 Updated file name for multilinear regression for website
  ml_library_include/ml/regression/MultiLinearRegression.hpp
Labels: documentation

#39 added correct path for ML.hpp
  ml_library_include/ml/ml.hpp
Labels: documentation

#42 Update README.md
  LICENSE
  README.md
Labels: documentation

#43 Readme refractor
  .gitignore
  CMakeLists.txt
  Doxyfile
  README.md
  docs/.nojekyll
  docs/README.md
  docs/algorithms/DecisionTreeClassifier.md
  docs/algorithms/RandomForestClassifier.md
  docs/setup.md
  docs/usage.md
  src/association/Apriori.cpp
  src/association/Eclat.cpp
  src/clustering/KMeans.cpp
  src/neural_network/ANN.cpp
  src/neural_network/CNN.cpp
  src/regression/LogisticRegression.cpp
  src/regression/MultiLinearRegression.cpp
  src/regression/PolynomialRegression.cpp
  src/tree/DecisionTreeClassifier.cpp
  src/tree/DecisionTreeRegressor.cpp
  src/tree/RandomForestClassifier.cpp
  src/tree/RandomForestRegressor.cpp
Labels: documentation

#46 Create labels.yml
  .github/labeler.yml
  .github/workflows/auto-label.yml
Labels: good first issue
